apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    description: Lykke Logs
  labels:
    app: grpc
    environment: dev
  name: grpc
  namespace: tools
spec:
  revisionHistoryLimit: 5
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  replicas: 1
  selector:
    matchLabels:
      app: grpc
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: grpc
      name: grpc
    spec:
      tolerations:
      - effect: NoSchedule
        operator: Exists
#      nodeSelector:
#         type: Monitoring-1
#      nodeSelector:
#        kubernetes.io/hostname: k8s-test-p-node-3
      containers:
      - name: grpc
        image: scrooge/grpcox:v1.0.0
        imagePullPolicy: IfNotPresent
        env:
          - name: ACCEPT_EULA
            value: "Y"
        resources:
          requests:
            memory: 64Mi
            cpu: 100m
#            ephemeral-storage: 512Mi
          limits:
            memory: 1500Mi
            cpu: 200
#            ephemeral-storage: 512Mi
        ports:
        - containerPort: 80
#        livenessProbe:
#          tcpSocket:
#            port: 80
#          initialDelaySeconds: 15
#          periodSeconds: 20

