apiVersion: v1	
kind: Service	
metadata:	
  labels:	
    app: nginx-proxy-a	
    environment: test	
  name: nginx-proxy-a	
  namespace: gateway
  annotations:	
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"	
spec:	
  loadBalancerIP: 192.168.19.1
  ports:	
  - name: "sirius-api"	
    port: 100	
    protocol: TCP	
    targetPort: 100	
  - name: "universe-api"	
    port: 110	
    protocol: TCP	
    targetPort: 110	
  - name: "universe-admin"	
    port: 120	
    protocol: TCP	
    targetPort: 120	
  - name: "exchange-api"	
    port: 130	
    protocol: TCP	
    targetPort: 130	
  - name: "template-quasar"	
    port: 140	
    protocol: TCP	
    targetPort: 140	
  - name: "quasar-grpc"	
    port: 150	
    protocol: TCP	
    targetPort: 150	
  - name: "quasar-http"	
    port: 160	
    protocol: TCP	
    targetPort: 160	
  - name: "bitcoin-explorer"
    port: 170
    protocol: TCP
    targetPort: 170
  - name: "litecoin-explorer"
    port: 180
    protocol: TCP
    targetPort: 180
  - name: "seq-monitoring"
    port: 190
    protocol: TCP
    targetPort: 190
  - name: "vault-api"
    port: 200
    protocol: TCP
    targetPort: 200
  selector:	
    app: nginx-proxy-a	
  sessionAffinity: None	
  type: LoadBalancer	
